{
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "commonjs": true
  },
  "extends": [
    "airbnb-base",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["import", "prettier", "import-helpers", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": "error",
    "class-methods-use-this": "off",
    "global-require": "off",

    "no-console": "off",
    "no-shadow": "off",
    "no-useless-constructor": "off",

    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",

    "import/prefer-default-export": "off",
    "import/extensions": ["error", "ignorePackages", { "ts": "never" }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "alphabetize": { "order": "asc", "ignoreCase": true },
        "groups": [
          "module",
          "/^@(useCases|middlewares)/",
          "/^@(database|enties)/",
          "/^@utils/",
          "/^@(types|interfaces)/",
          ["parent", "sibling", "index"]
        ]
      }
    ]
  },
  "settings": {
    "import/extensions": [".js", ".ts"],
    "import/parsers": {
      "@typescript-eslint/parser": [".js", ".ts"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}
